/* Reset de la marge et du padding, et fond sombre par dÃ©faut */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #303030;
}

a {
  color: violet;
  text-decoration: none;
}

.page > h1 {
  padding: 5%;
} 

a:hover {
  color: violet;
  text-decoration: underline;
}

p {
  font-size: 1.3rem;
  margin: 13px;
  padding: 2px;
}

ul {
  padding: 10px;
}

.page {
  display: flex;
  margin-right: 10%;
}

.title {
  background-color: #4148685e;
  padding: 10px;
  border-right: 5px solid #5265c7;
  border-left: 5px solid #5265c7;
  text-align: center;
  margin: 10px;
}


/* Styles du header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  /*box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);*/
  color: white;
  padding: 20px;
  height: 70px;
}

/* Styles du main */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #303030;
  color: white;
}

/* Styles du footer */
footer {
  background-color: #222;
  color: white;
  padding: 20px;
  margin-top: 40px;
  height: 190px;
}

footer p {
  margin: 2px;
}

.space {
  background-color: #222;
  color: white;
  padding: 20px;
  margin-top: 40px;
  height: 70px;
}

.grid {
  display: flex;
  margin: 5px;
}

.grid_child {
  padding: 10px;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;
}


th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #555555;
}

tr:hover {
  background-color: #777777;
}

/* MEDIA QUERY POUR LA VERSION MOBILE */
@media (max-width: 767px) {
  /* HEADER */
  header {
    height: auto;
  }

  header {
      flex-wrap: wrap;
  }
  
  .page {
      display: block;
  }

  .logo {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
  }

  /* FOOTER */
  footer {
    height: auto;
    padding: 5px;
    text-align: center;
  }

  .grid {
    display: block;
  }

  footer > ul > li {
    padding: 5px;
  }

  
  footer p {
    padding: 2px;
    margin: 1px;
    text-align: center;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }
}
